:root {
    --rojo:rgba(231, 84, 25, 0.87);  
    --amarillo: #FFC300;
    --blanco: #FFFFFF;
    --negro: #1C1C1C;
    --gris-suave: #f4f4f4;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--gris-suave);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    background: var(--blanco);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.logo-red {
    color: var(--rojo);
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 10px;
}

h1 { font-size: 1.5rem; color: var(--negro); margin-bottom: 5px; }

.input-group { text-align: left; margin-bottom: 20px; }

.input-group label { display: block; font-weight: 600; font-size: 0.9rem; margin-bottom: 8px; }

.input-group input, select {
    width: 100%;
    padding: 12px;
    border: 2px solid #eee;
    border-radius: 10px;
    box-sizing: border-box;
    transition: 0.3s;
}

.input-group input:focus { border-color: var(--rojo); outline: none; }

.btn-primary {
    background: var(--rojo);
    color: var(--blanco);
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.btn-outline {
    display: inline-block;
    margin-top: 20px;
    color: var(--negro);
    text-decoration: none;
    font-weight: 600;
    border: 1px solid var(--negro);
    padding: 8px 20px;
    border-radius: 50px;
}